@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

/*
Media queries management:
0 - 600px       Phone
600 - 900px     Tablet (portrait)
900 - 1200px    Tablet (landscape)
1200 - 1800px   Desktop (normal styles)
1800+px         Big desktop
 
Possible values of $breakpoint:
- phone (max-width: 600px = 37.5em);
- tab-portrait (max-width: 900px = 56.25em);
- tab-landscape (max-width: 1200px = 75em);
- big-desktop (min-width: 1800px = 112.5em)
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content };
  }

  @if $breakpoint == tab-portrait {
    @media (max-width: 56.25em) { @content };
  }

  @if $breakpoint == tab-landscape {
    @media (max-width: 75em) { @content };
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content };
  }
}
